.footer-bloc {
    background-color: #353535;
    padding: 1rem;
    .footer-title-bloc {
        margin-bottom: 1rem;
    }
        .footer-title {
            color: #fff;
            font-family: Shrikhand,"cursive";
            font-size: 1.2rem;
            text-decoration: none;
            
        }

    .footer-content-subtitle {
        margin-bottom: 0.2rem;    
    }
    .footer-content-bloc a {
        color: #ffffff;
        text-decoration: none;
    }
    .footer-content-bloc i{
        color: #ffffff;
        margin-right: 01rem;
    } 


}