* {
    *{
        margin: 0px;
        padding: 0px;
        max-width: 1440px;
    
    }
    
    .max-width{
        margin: auto;
        
    }
}

body {
    margin: auto;
    font-family: "Roboto", sans-serif;
}