
@mixin shadow1 {
    box-shadow: 1px 10px 9px 1px rgba(0, 0, 0, 0.12);
}

@mixin btn_mix() {
    display: block;
    max-width: 230px;
    margin: auto;
    height: 50px;
    border-radius: 45px;
    border: none;
    padding: 1rem 2rem;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(350deg, #9356DC , #FF79DA);
    box-shadow: 1px 10px 9px 1px rgba(0, 0, 0, 0.12); 
    transition: 300ms ease-in;
    &:hover{ 
        box-shadow: 1px 5px 9px 1px rgb(0 0 0 / 61%);
        opacity: 0,9;
        background-image: linear-gradient(350deg, #aa56dc, #FF79DA);
    }
}


@mixin heart() {
    .fa-solid{
        background:linear-gradient(#e586df, #9D59DC);
        -webkit-background-clip:text;
        -webkit-text-fill-color:rgba(0,0,0,0);
        top: 31%;
        transform: scale(0, 1);
        transition: all 300ms ease-in;
        
    }
    .fa-regular{ 
        color: black;
        opacity: 0,9;
        
    }
}
